version: '3'

services:
  reverse-proxy:
    image: traefik:v2.6
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      # So that Traefik can listen to the Docker events
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - TRAEFIK_ENTRYPOINTS_web=true
      - TRAEFIK_ENTRYPOINTS_web_ADDRESS=:80
      - TRAEFIK_ENTRYPOINTS_websecure=true
      - TRAEFIK_ENTRYPOINTS_websecure_ADDRESS=:443
      - TRAEFIK_ENTRYPOINTS_user=true
      - TRAEFIK_ENTRYPOINTS_user_ADDRESS=:9090
      - TRAEFIK_ENTRYPOINTS_rabbitmq=true
      - TRAEFIK_ENTRYPOINTS_rabbitmq_ADDRESS=:5672
      - TRAEFIK_ENTRYPOINTS_challenge=true
      - TRAEFIK_ENTRYPOINTS_challenge_ADDRESS=:9091
      - TRAEFIK_ENTRYPOINTS_solution=true
      - TRAEFIK_ENTRYPOINTS_solution_ADDRESS=:9092
      - TRAEFIK_ENTRYPOINTS_comment=true
      - TRAEFIK_ENTRYPOINTS_comment_ADDRESS=:9093
      - TRAEFIK_API_INSECURE=true
      - TRAEFIK_API_DASHBOARD=true
      - TRAEFIK_PROVIDERS_DOCKER=true

  challenge:
    image: onlabcontainerregistry.azurecr.io/challenge:latest
    restart: always
    ports:
      - "8080"
      - "9090"
    labels:
      - traefik.enable=true
      - traefik.http.routers.challenge_graphql.entrypoints=web
      - traefik.http.routers.challenge_graphql.rule=PathPrefix(`/challenge/graphql`)
      - traefik.http.routers.challenge_graphql.service=challenge_graphql
      - traefik.http.middlewares.challenge-strip-prefix.stripprefix.prefixes=/challenge
      - traefik.http.routers.challenge_graphql.middlewares=challenge-strip-prefix@docker
      - traefik.http.services.challenge_graphql.loadbalancer.server.port=8080
      - traefik.http.routers.challenge_grpc.entrypoints=challenge
      - traefik.http.routers.challenge_grpc.service=challenge_grpc
      - traefik.http.routers.challenge_grpc.rule=ClientIP(`0.0.0.0/0`)
      - traefik.http.services.challenge_grpc.loadbalancer.server.port=9090
      - traefik.http.services.challenge_grpc.loadbalancer.server.scheme=h2c
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - GRPC_CLIENT_USERSERVICE_ADDRESS=dns:///reverse-proxy:9090
      - SPRING_DATASOURCE_USERNAME=nemaberci
      - SPRING_DATASOURCE_PASSWORD=ophOJHIteno:-,8
    depends_on:
      - user

  solution:
    restart: always
    image: onlabcontainerregistry.azurecr.io/solution:latest
    ports:
      - "8080"
      - "9090"
    labels:
      - traefik.enable=true
      - traefik.http.routers.solution_graphql.entrypoints=web
      - traefik.http.routers.solution_graphql.rule=PathPrefix(`/solution/graphql`)
      - traefik.http.routers.solution_graphql.service=solution_graphql
      - traefik.http.middlewares.solution-strip-prefix.stripprefix.prefixes=/solution
      - traefik.http.routers.solution_graphql.middlewares=solution-strip-prefix@docker
      - traefik.http.services.solution_graphql.loadbalancer.server.port=8080
      - traefik.http.routers.solution_grpc.entrypoints=solution
      - traefik.http.routers.solution_grpc.service=solution_grpc
      - traefik.http.routers.solution_grpc.rule=ClientIP(`0.0.0.0/0`)
      - traefik.http.services.solution_grpc.loadbalancer.server.port=9090
      - traefik.http.services.solution_grpc.loadbalancer.server.scheme=h2c
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - GRPC_CLIENT_USERSERVICE_ADDRESS=dns:///reverse-proxy:9090
      - GRPC_CLIENT_COMMENTSERVICE_ADDRESS=dns:///reverse-proxy:9093
      - GRPC_CLIENT_CHALLENGESERVICE_ADDRESS=dns:///reverse-proxy:9091
      - SPRING_DATASOURCE_USERNAME=nemaberci
      - SPRING_DATASOURCE_PASSWORD=ophOJHIteno:-,8
    depends_on:
      - user

  user:
    image: onlabcontainerregistry.azurecr.io/user:latest
    restart: always
    ports:
      - "8080"
      - "9090"
    labels:
      - traefik.enable=true
      - traefik.http.routers.user_graphql.entrypoints=web
      - traefik.http.routers.user_graphql.rule=PathPrefix(`/user/graphql`)
      - traefik.http.routers.user_graphql.service=user_graphql
      - traefik.http.middlewares.user-strip-prefix.stripprefix.prefixes=/user
      - traefik.http.routers.user_graphql.middlewares=user-strip-prefix@docker
      - traefik.http.services.user_graphql.loadbalancer.server.port=8080
      - traefik.http.routers.user_grpc.entrypoints=user
      - traefik.http.routers.user_grpc.service=user_grpc
      - traefik.http.routers.user_grpc.rule=ClientIP(`0.0.0.0/0`)
      - traefik.http.services.user_grpc.loadbalancer.server.port=9090
      - traefik.http.services.user_grpc.loadbalancer.server.scheme=h2c
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_DATASOURCE_USERNAME=nemaberci
      - SPRING_DATASOURCE_PASSWORD=ophOJHIteno:-,8

  comment:
    image: onlabcontainerregistry.azurecr.io/comment:latest
    restart: always
    ports:
      - "8080"
      - "9090"
    labels:
      - traefik.enable=true
      - traefik.http.routers.comment_graphql.entrypoints=web
      - traefik.http.routers.comment_graphql.rule=PathPrefix(`/comment/graphql`)
      - traefik.http.routers.comment_graphql.service=comment_graphql
      - traefik.http.middlewares.comment-strip-prefix.stripprefix.prefixes=/comment
      - traefik.http.routers.comment_graphql.middlewares=comment-strip-prefix@docker
      - traefik.http.services.comment_graphql.loadbalancer.server.port=8080
      - traefik.http.routers.comment_grpc.entrypoints=comment
      - traefik.http.routers.comment_grpc.service=comment_grpc
      - traefik.http.routers.comment_grpc.rule=ClientIP(`0.0.0.0/0`)
      - traefik.http.services.comment_grpc.loadbalancer.server.port=9090
      - traefik.http.services.comment_grpc.loadbalancer.server.scheme=h2c
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - GRPC_CLIENT_USERSERVICE_ADDRESS=dns:///reverse-proxy:9090
      - SPRING_DATASOURCE_USERNAME=nemaberci
      - SPRING_DATASOURCE_PASSWORD=ophOJHIteno:-,8

  frontend:
    image: onlabcontainerregistry.azurecr.io/frontend:latest
    ports:
      - "3000"
    labels:
      - traefik.enable=true
      - traefik.http.routers.frontend.entrypoints=web
      - traefik.http.routers.frontend.rule=PathPrefix(`/frontend`)
      - traefik.http.middlewares.frontend-strip-prefix.stripprefix.prefixes=/frontend
      - traefik.http.routers.frontend.middlewares=frontend-strip-prefix@docker
      - traefik.http.routers.frontend-assets.entrypoints=web
      - traefik.http.routers.frontend-assets.rule=PathPrefix(`/static`)
      - traefik.http.routers.frontend-manifest.entrypoints=web
      - traefik.http.routers.frontend-manifest.rule=Path(`/manifest.json`)
      - traefik.http.routers.frontend-anything-else.entrypoints=web
      - traefik.http.routers.frontend-anything-else.rule=Path(`/{name:[a-z0-9A-Z]+}.png`, `/{name:[a-z0-9A-Z]+}.jpg`, `/{name:[a-z0-9A-Z]+}.js`, `/{name:[a-z0-9A-Z]+}.css`)

  rabbitmq:
    image: rabbitmq:management
    ports:
      - "5672"
    labels:
      - traefik.enable=true
      - traefik.http.routers.rabbitmq.rule=Host(`rabbitmq.docker`)
      - traefik.http.routers.rabbitmq.entrypoints=rabbitmq
      - traefik.http.routers.rabbitmq.service=rabbitmq
      - traefik.http.services.rabbitmq.loadbalancer.server.port=5672